<body ID="pageBackground">
<main>

  <h1 ID="yourTurn" class="bindingColor"
    It is your turn!
  </h1>

  <h1 ID="NotyourTurn" class="bindingColor">
  	It is your opponents turn!
  </h1>

  <div ID = "cheackerboard">
  </div>
</main>
</body>
