<main>

  <button id="big-start-button">Start Game!</button>
  <!-- <button id="clear-cookie-button">Eat Your Cookies!<div class = "sub">{Temporary}</div></button> -->
  <div id="playerNameInput" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Hello Player!</h3>
      <!-- <button type="button" class="modal-close-button">&times;</button> -->
    </div>

    <div class="modal-body">
      <div class="input-element">
        <label for="text-input">What is your name?</label>
        <textarea id="text-input"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel-button">Cancel</button>
      <button type="button" id="modal-accept-button">Play Checkers!</button>
    </div>

  </div>
</div>
</main>
