<main>

  <div class="error-container">
    <h2>Finding A Game...</h2>
    <h3>Please hold tight while we find you a partner.</h3>
  </div>
  <div id="wait">
    <!-- could we get a spinning wait icon here? -->
  </div>

</main>
